@import '../../../assets/variables';

.whole-admin-container{
    height: 100vh;
    overflow: scroll;
    width: 100%;
    text-align: center;
    ::placeholder{
        font-size: 10px;
    }
    .logout{
        @include button;
        box-shadow: none;
        border: solid 1px white;
        background-color:rgb(46, 44, 44); 
        border-radius: 20px;
        width: 20%;
        &:focus{
            outline: none;
        }

    }
}

.whole-admin-container::-webkit-scrollbar-thumb{
    background-color:#2e2c2c;
}

.book-handles{
    @include card;
    width: 80%;
    margin: 50px auto;
    h1{
        border-bottom: solid 1px white;
    }
}

.handle-container{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    margin: 0px auto;
    transition: height 1s;
    button:focus{
        outline: none;
    }
    button:hover{
        cursor: pointer;
    }
    .add-auth{
        padding-top: 10px;
        text-align: center;
        .add-inputs{
            max-height: 0px; 
            width: 200px;
            overflow: hidden;
            opacity: 0;
            transition: 1s;
            #add-book-check{
                font-size: 12px;
                color: rgb(238, 76, 76);
            }
            #add-book-success{
                font-size: 12px;
            }
            input{
                @include textinput;
            }
            button{
                margin: 20px 0px;
                background-color: rgb(46, 44, 44);
                box-shadow: none;
                border: solid 1px white;
                &:focus{
                    outline:none;
                }
            }
            @media screen and (max-width: $breakmed){
                margin: 0px auto;
            }
        }
        .add-inputs-extend{
            max-height: 400px;
            opacity: 1;
        }
    }
    .delete-auth{
        text-align: center;
        padding-top: 10px;
        .delete-list{
            max-height: 0px;
            overflow-x: scroll;
            opacity: 0;
            width: 200px;
            text-align: center;
            transition: 1s;
           overflow: scroll;
           .tobedeleted{
               margin: 10px auto;
               button{
                   margin: 5px auto;
                   background-color: rgb(46, 44, 44);
                   box-shadow: none;
                   border: solid 1px white;
                   &:focus{
                    outline:none;
                }
               }
           }
           @media screen and (max-width: $breakmed){
               margin: 0px auto;
           }
        }
        .delete-list-extend{
            max-height: 400px;
            opacity: 1;
        }
    }
    .edit-auth{
        text-align: center;
        overflow:hidden;
        padding: 10px 0px;
        .edit-inputs{
            width: 200px;
            opacity: 0;
            max-height: 0px;
            text-align: center;
            overflow-x: scroll;
            transition: 1s;
            margin-top: 5px;

            img{
                width: 100px;
            }
            button{
                margin: 5px 0px;
                background-color: rgb(46, 44, 44);
                box-shadow: none;
                border: solid 1px white;
                &:focus{
                    outline:none;
                }
            }
            .edit-field{
                max-height:0px;
                overflow: hidden;
                opacity: 0;
                transition: 1s;
                #edit-book-check{
                    font-size: 12px;
                    color: rgb(238, 76, 76);
                }
                #edit-book-success{
                    font-size: 12px;
                }
                input{
                    @include textinput;
                }
            }
            .edit-field-extend{
                max-height: 550px;
                opacity: 1;
            }
            @media screen and (max-width: $breakmed){
                margin: 0px auto;
            }
        }
        .edit-inputs-extend{
            opacity: 1;
            max-height: 400px;
        }
    }
    @media screen and (max-width: $breakmed){
     flex-direction: column;
     overflow: scroll;
     height: 300px; 

    }
}
.handle-container-extend{
    height: 475px;
    @media screen and (max-width: $breakmed){
        height: 600px;
    }
}

//adminssss

.handle-container button{
    @include button;
    border:none;
}

.admin-handle-container{
    @include card;
    width: 80%;
    margin: 0px auto;
    text-align: center;
    h1{
        border-bottom: solid 1px white;
    }
    input{
        @include textinput;
    }
    .add-admin-container{
        // border-bottom: solid 1px white;
        width:80%;
        margin: 0px auto;
        padding-bottom: 30px;
        h3{
            border-bottom: solid 1px white;
            margin: 25px auto;
        }
        .add-checks{
            margin: 0px auto;
            // width:30%;
            .check-container{
                display: flex;
                justify-content:center;
                align-items: center;
                background-color: transparent;
                border-radius: 10px;
                transition: 0.5s;
            }
            input{
                margin:0px;
                width:20%;
                cursor: pointer;   
            }
            .check-container-highlight{
                background-color:#2e2c2c;
            }
        }
        #create-admin-check{
            font-size: 12px;
            color:rgb(238, 76, 76);
        }
        #create-admin-success{
            font-size: 12px;
        }
        button{
            @include button;
            margin-top:10px;
            background-color: rgb(46, 44, 44);
            box-shadow: none;
            border: solid 1px white;
            &:focus{
                outline:none;
            }
        }
    }

    .delete-container{
        padding-bottom: 20px;
        width:80%;
        margin: 0px auto;
        h3{
            border-bottom: solid 1px white;
        }
        .delete-admin-container{
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            width:60%;
            overflow:scroll;
            margin: 20px auto;
            padding: 10px 0px;
            border-bottom: solid 1px white;
            &::-webkit-scrollbar{
                height: 5px;
            }
            .admindelete{
                width: 200px;
                margin: 0px 30px;
                button{
                     width:100px;
                     @include button;
                     box-shadow: none;
                     border: solid 1px white;
                     background-color: rgb(46, 44, 44);
                }
            }
        }
    }
    .edit-container{
        width: 80%;
        margin: 0px auto;
        h3{
            border-bottom: solid 1px white;
        }
        .edit-admin-container{
            height:500px;
            overflow: scroll;
           .adminedit{
               margin: 20px auto;
               border-bottom: solid 1px white;
               width: 50%;
               padding-bottom: 10px;
               .fullname{
                   font-weight: 700;
               }
                input{
                    width: 20%;
                }
                button{
                    @include button;
                    box-shadow: none;
                    border: solid 1px white;
                    background-color: rgb(46, 44, 44);
                    margin: 10px 0px;
                }
           }
        }
    }
}