.whole-admin-container{
    height: 100vh;
    overflow: scroll;
}

.handle-container{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin: 0px auto;
    .add-auth{
        .add-inputs{
            height: 0px; 
            overflow: hidden;
        }
    }
}

.handle-container button{
    margin: 20px 0px;
}


.delete-list{
   height: 0px;
   overflow: hidden;

}

.edit-inputs{
     height: 0px;
    overflow: hidden;
}

.edit-inputs img{
    width:100px;
}

.edit-field{
    /* height:0px; */
    overflow: hidden;
}

.admin-handle-container{
    text-align: center;
}