@import '../../../../../assets/variables';

.whole-book-container{
    @include sidedashes;
}
.books-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font:{
        family: $globalfont;
    }

.book{
    text-align: center;
    @include card;
    margin: 20px;
    padding: 20px;
    img{
        width:200px;
        border-radius: 3px;
        box-shadow: 2px 2px 5px $highlight;
    }
    a{
       @include button;
    }
    h3{
        text-decoration: underline;
    }

}
.halfed{
    display: flex;
    align-items: center;
    margin:10px;
}
    .right{
        width: 100%;
        margin:20px;
        span{
            margin-top:20px;
            font-weight: 700;
        }
    }
}

.loading{
    text-align: center;
    font-size: 30px;
}