@import '../../../assets/variables';
.admin-container{
    font-family: $globalfont;
    margin: 0px auto;
    text-align: center;
    width: 70%;
    height: 100vh;
}

.login{
    @include card;
    margin: 50px auto;
    input{
        @include textinput;
    }
    button{
        @include button;
        border:none;
        margin: 10px 0px;

    }
    .login-check{
        color: rgb(238, 76, 76);
    }
}
