@import '../../../assets/variables';
.admin-container{
    @include card;
    font-family: $globalfont;
    margin: 0px auto;
    text-align: center;
    width: 70%;
}

.login{
    margin: 0px auto;
    input{
        @include textinput;
    }
    button{
        @include button;
        border:none;
        margin: 10px 0px;

    }
}
