@import '../../../assets/variables';
.main-container{
    width: 85%;
    overflow: scroll;
    height: 102%;
    @media screen and (max-width: $breakmed){
        width: 100%;
    }
}

.main-container::-webkit-scrollbar{
    width: 5px;
}
.main-container::-webkit-scrollbar-thumb{
    background: #4e4c4c;
    border-radius: 10px;
}