@import '../../../../../assets/variables';
.book-whole-container{
    font-family: $globalfont;
    .header-container{
        display: flex;
        justify-content: center;
        align-items: center;
    
        margin-top: 30px;
        margin-bottom: 50px;
    
        .side-line{
            border-bottom: solid 1px black;
            width: 150px;
            margin: 0px 50px;
        }
    }
}

.book-box{
    width: 70%;
    margin: 25px auto 0px auto;
    padding: 20px;
    @include card;
    

    .split{
        display: flex;
        align-items: center;
        .left{
            width: 50%;
            display: flex;
            flex-direction: column;
            img{
                width:70%;
                margin: 0px auto;
            }
            p{
                text-align: center;
            }
        }
        .right{
             width: 50%;
        }
    }
    .snip{
        text-align: center;
        margin:20px;
    }
    
}