@import '../../../../../assets/variables';
.book-whole-container{
    font-family: $globalfont;
    @include sidedashes;
}

.book-box{
    width: 70%;
    margin: 25px auto 0px auto;
    padding: 20px;
    @include card;
    
    h1{
        text-align: center;
        border-bottom: solid 1px white;
        margin: 25px auto 50px auto;
        width: 60%;
        @media screen and (max-width: $breaksm){
            font-size:20px;
        }
    }
    .split{
        display: flex;
        align-items: center;
        .left{
            width: 50%;
            display: flex;
            flex-direction: column;
            img{
                @include card;
                width:300px;
                margin: 0px auto;
                border-radius: 10px;
                @media screen and (max-width: $breaklarge){
                    width:100%;
                }
                @media screen and (max-width: $breakmed){
                    width: 260px;
                }
                @media screen and (max-width: $breakxsm){
                    width: 100%;
                }
            }
            p{
                text-align: center;
            }
            @media screen and (max-width: $breakmed){
                width: 100%;
            }
        }
        .right{
            font-size: 20px;
            font-weight: 500;
             width: 50%;
             text-align: center;
             a{
                 @include button;
                 border:none;
                 font-weight: 400;
                 &:hover{
                     cursor: pointer;
                 }
                 @media screen and (max-width: $breaksm){
                     font-size: 11px;
                 }
             }
             .price{
                 border-bottom: solid 1px white;
                 font-size: 30px;
                 @media screen and (max-width: $breaksm){
                     font-size: 20px;
                 }
             }
             .kprice{
                 border-bottom: solid 1px white;
                 font-size: 30px;
                 @media screen and (max-width: $breaksm){
                    font-size: 20px;
                }
             }
             @media screen and (max-width: $breaklarge){
                 margin-top: 20px;
             }
        }
        @media screen and (max-width: $breaklarge){
            flex-direction: column;
        }
    }
    .snip{
        text-align: center;
        margin:20px;
        font-size: 20px;
    }
    
}
