@import '../../../assets/variables';

.nav-container{
    width:15%;
    border: solid black 1px;
}

.nav-list{
    font:{
        family: $globalfont;
        size: 100%;
        
    }
    li{
        position: relative;
        margin:{
            top: 20px;
        }
        width:100%;
    }

    a{
        color: black;
        text-decoration: none;
        width: calc(100%-10px);
        display: block;
        margin: {
            left:10px;
        }
    }
}

.link-container{
    .line{
        width:0;
        border-bottom: solid black 1px;
        transition: width 0.5s;
    }
    &:hover{
        .line{
            width:100%;
        }
    }
    .home{
        position: relative;
        right: 2px;
    }
    .fa-home{
        margin-right: 2px;
    }

}

.dropdown-container{
   span{
       margin-left:10px;
   }
    width: 100%;
    #non-link{
        cursor: pointer;
    }

}

.dropdown{
    max-height:0px;
    overflow: scroll;
    overflow-x: hidden;
    transition: max-height 0.5s;
    margin-left: 10px;


}

.books{
    transition: color 0.2s;
    &:hover{
        color: #ffffff66;
    }
}


::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: #2b2525b3;
    border-radius: 10px;
}

.dropped{
    max-height: 100px;
}

