@import '../../../assets/variables';

.nav-container{
    width:15%;
    background-color: rgb(0, 0, 0);
    color:white;
    font-family: $globalfont;
    border-bottom-right-radius: 200px;
    font-size: 20px;

    
    .drop-one{
        display: none;
        @media screen and (max-width: $breakmed){
            max-height: 0px;
            display: flex;
            justify-content: space-around;
            width: 100%;
            font-size: 30px;
            overflow: hidden;
               transition: max-height 0.3s;
            a{
                color: white;
                text-decoration: none;
            }
            div{
                margin: 20px 0px;
                cursor: pointer;
            }
        }
    }
    .drop-two{
        width: 100%;
        overflow: scroll;
        display: flex;
        justify-content: flex-start;
        align-items: center;
            a{
                color:white;
                text-decoration: none;
                margin: 0px 20px;
               list-style: none;
               font-size: 13px;
            }
    }
    
    .nav-drop-dropped{
        border-top: solid 1px white;
        max-height: 90px;
    }
    .burger{
        display: none;
        float: right;
        margin-right: 20px;
        font-size: 40px;
        &:hover{
            cursor: pointer;
        }

        @media screen and (max-width: $breakmed){
            display: inline-block;
        }
    }
    h1{
        display: inline-block;
        font-family: 'exo';
        margin: 0px 0px;
        text-align: center;
        @media screen and (max-width: $breakmed){
            text-align: left;
            margin-left: 20px;
        }
    }
    @media screen and (max-width: $breakmed){
        width: 100%;
        border-radius: 0px;
    }
}

.nav-list{
    font:{
        size: 100%;
    }
    li{
        position: relative;
        margin:{
            top: 20px;
        }
        width:100%;
    }

    a{
        color: white;
        text-decoration: none;
        width: calc(100%-10px);
        display: block;
        margin: {
            left:10px;
        }
    }
    @media screen and (max-width: $breakmed){
        display: none;
    }
}

.link-container{
    .line{
        width:0;
        border-bottom: solid white 1px;
        transition: width 0.5s;
    }
    &:hover{
        .line{
            width:100%;
        }
    }
    .home{
        position: relative;
        right: 2px;
    }
    .fa-home{
        margin-right: 2px;
    }

}

.dropdown-container{
   span{
       margin-left:10px;
   }
    width: 100%;
    #non-link{
        cursor: pointer;
    }

}

.dropdown{
    max-height:0px;
    overflow: scroll;
    overflow-x: hidden;
    transition: max-height 0.5s;
    margin-left: 10px;
    ul{
        list-style-type: none;
    }


}

.books{

    transition: color 0.2s;
    &:hover{
        color: $highlight;
    }
    li{
        padding: 5px 0px;
        margin: initial;
    }
}


::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 10px;
}

::-webkit-scrollbar-corner{
    color: transparent;
}

.dropped{
    max-height: 100px;
}

