@import '../../assets/variables';

.header-container{
    @include header;
    border: solid black 1px;
    text-align: center;
}

.whole-container{
    width: 100%;
    height:100vh;
    overflow: hidden;
}

.public-container{
    display: flex;
    height:100%;
    width: 100%;
    
}
  