@import '../../../../../assets/variables';
.about-whole-container{
    font-family: $globalfont;
    @include sidedashes;

}
.about-container{
  @include card;
    width: 70%;
    margin: 0px auto;
    padding: 0px 30px;
    .about-split{
        padding: 50px 0px;
        display: flex;
        align-items: center;
        text-align: center;
        .left{
            width: 50%;
            text-align: center;
            margin-right: 50px;
            img{
                width: 100%;
                margin: 0px auto;
                @include card;
                 @media screen and (max-width: $breakmed){
                     width: 260px;
                     margin: 0px auto;
                 }
                 @media screen and (max-width: $breakxsm){
                    width: 100%;
                }
            }
            p{
                border-top: solid 1px white;
                margin: 20px auto 0px auto;
                padding-top: 15px;
                width: 80%;
                @media screen and (max-width: $breaklarge){
                    width: 100%;
                }
            }
            @media screen and (max-width: $breaklarge){
                margin-right: 0px;
            }
            @media screen and (max-width: $breakmed){
                width: 100%;
            }
        }
        .right{
            width: 50%;
            text-align: center;
            .fa-twitter{
                color: #38A1F3;
                font-size: 40px;
                margin-bottom: 50px;
                @media screen and (max-width:$breaklarge){
                    margin-bottom:10px;
                    margin-top: 30px;
                }
            }
            .twitter-cont{
                width: 100%;
                margin: 0px auto;
            }
            @media screen and (max-width: $breaklarge){
                width: 100%;
            }

        }
        @media screen and (max-width: $breaklarge){
            flex-direction: column;
        }
    }
}
