@import '../../../../../assets/variables';
.about-whole-container{
    font-family: $globalfont;
    @include sidedashes;

}
.about-container{
  @include card;
    width: 70%;
    margin: 0px auto;
    padding: 0px 30px;
    .about-split{
        padding: 50px 0px;
        display: flex;
        align-items: center;
        .left{
            width: 50%;
            text-align: center;
            img{
                width: 70%;
                @include card;
            }
            p{
                border-top: solid 1px white;
                margin: 20px auto 0px auto;
                padding-top: 15px;
                width: 80%;
            }
        }
        .right{
            width: 50%;
            text-align: center;
            .fa-twitter{
                color: #38A1F3;
                font-size: 40px;
                margin-bottom: 50px;
            }

        }
    }
}
