@import '../../../../../assets/variables';
.about-whole-container{
    font-family: $globalfont;
    @include sidedashes;

}
.about-container{
  @include card;
    width: 70%;
    margin: 0px auto;
    padding: 0px 30px;
    .about-split{
        padding: 50px 0px;
        display: flex;
        align-items: center;
        .left{
            width: 50%;
            text-align: center;
            img{
                width: 200px;
                @include card;
            }
            p{
                margin: 20px auto 0px auto;
                width: 80%;
            }
        }
        .right{
            width: 50%;
            text-align: center;
            .twitter-feed{
                margin:0px auto;
                width: 200px;
                height: 400px;
                background-color: darkblue;
            }
        }
    }
}
